<link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<script>
    $(document).ready(function () {
    });
</script>
<% 
function setDate(s) {
    var date = new Date(s);
    var ngay = (date.getDate() <= 9) ? "0"+date.getDate() : date.getDate();
    return ngay+"/"+(date.getMonth()+1)+"/"+date.getFullYear(); 
}

function convert(str) {
  var date = new Date(str),
    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
    day = ("0" + date.getDate()).slice(-2);
  return [date.getFullYear(), mnth, day].join("-");
}
%>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12 m-0 p-0">
                <% if (thongBao != undefined) { %>
                <% if (thongBao.indexOf("Thành Công") != -1) { %>
                <div class="row alert alert-success ml-1 mr-1">
                    <%= thongBao %>
                    <button type="button" name="close" class="close ml-auto">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } else { %>
                <div class="row alert alert-danger">
                    <%= thongBao %>
                </div>
                <% } %>
                <% } %>
                <div class="card">
                    <div class="card-header row m-0">
                        <strong class="card-title col-6 m-0 p-0" style="margin-top: 9px !important;">DANH SÁCH SẢN PHẨM</strong>
                        <div class="col-6 text-right m-0 p-0">
                            <button class="rounded rounded-circle btn btn-success" data-toggle="modal"
                                data-target="#add"><i class="fa fa-plus"></i>
                            </button>
                        </div>

                    </div>
                    <div class="card-body pl-0 ml-0 mr-0 pr-0">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Nhà cung cấp</th>
                                    <th>Đơn vị</th>
                                    <th>Đơn giá</th>
                                    <th>Kích thước</th>
                                    <th>Chủng loại</th>
                                    <th>Cường độ chịu nén</th>
                                    <th>Trọng lượng</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Tiêu chuẩn</th>
                                    <th>Chất liệu</th>
                                    <th>Độ rỗng</th>
                                    <th>Độ hút nước</th>
                                    <th>Màu sắc</th>
                                    <th>Xuất xứ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% sanPham.forEach(function(item) { %>
                                <tr id="<%= item.id %>">
                                    <td><%- item.ten %></td>
                                    <td><%- item.id_nhaCungCap %> </td>
                                    <td><%- item.donVi %></td>
                                    <td><%- item.donGia %></td>
                                    <td><%- item.kichThuoc %></td>
                                    <td><%- item.chungLoai %></td>
                                    <td><%- item.cuongDoChiuNen %></td>
                                    <td><%- item.trongLuong %> </td>
                                    <td><%- item.maSanPham %></td>
                                    <td><%- item.tieuChuan %></td>
                                    <td><%- item.chatLieu %></td>
                                    <td><%- item.doRong %></td>
                                    <td><%- item.hutNuoc %></td>
                                    <td><%- item.mauSac %></td>
                                    <td><%- item.xuatXu %></td>
                                   
                                    <td>
                                        <a value="<%- item._id %>" data-toggle="modal"
                                            data-target="#exampleModal<%- item._id %>"
                                            class="btn btn-warning text-light pt-1 pb-1 pr-2 pl-2 mb-1"><i
                                                class="fa fa-pencil-square"></i></a>
                                        <a class="btn btn-danger text-light pt-1 pb-1 pr-2 pl-2 mb-1" data-toggle="modal"
                                            data-target="#Modal<%- item._id %>"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                <div class="modal fade" id="Modal<%- item._id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title d-inline" id="exampleModalLabel">Xóa sản phẩm
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Xóa sản phẩm <%- item.ten %>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Hủy</button>
                                                <a href="/admin/delete/SanPham/<%- item._id %>"
                                                    class="btn btn-danger">Xóa</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="exampleModal<%- item._id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title d-inline" id="exampleModalLabel">Chỉnh sửa sản phẩm</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form class="p-2" method="post" action="/admin/products/edit">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Tên sản phẩm</label>
                                                        <input type="text" class="form-control" name="ten"
                                                            value="<%- item.ten %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Nhà cung cấp</label>
                                                        <input type="text" class="form-control" name="id_nhaCungCap"
                                                            value="<%- item.id_nhaCungCap %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Đơn vị</label>
                                                        <input type="text" class="form-control" name="donVi"
                                                            value="<%- item.donVi %>" />
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Đơn giá</label>
                                                        <input type="text" class="form-control" name="donGia"
                                                            value="<%- item.donGia %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Kích thước</label>
                                                        <input type="text" class="form-control" name="kichThuoc"
                                                        value="<%- item.kichThuoc %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Chủng loại</label>
                                                        <input type="text" class="form-control" name="chungLoai"
                                                            value="<%- item.chungLoai %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Cường độ chịu nén</label>
                                                        <input type="text" class="form-control" name="cuongDoChiuNen"
                                                            value="<%- item.cuongDoChiuNen %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Trọng lượng</label>
                                                        <input type="text" class="form-control" name="trongLuong"
                                                            value="<%- item.trongLuong %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Mã sản phẩm</label>
                                                        <input type="text" class="form-control" name="maSanPham"
                                                            value="<%- item.maSanPham %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Tiêu chuẩn</label>
                                                        <input type="text" class="form-control" name="tieuChuan"
                                                            value="<%- item.tieuChuan %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Chất liệu</label>
                                                        <input type="text" class="form-control" name="chatLieu"
                                                            value="<%- item.chatLieu %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Độ rộng</label>
                                                        <input type="text" class="form-control" name="doRong"
                                                            value="<%- item.doRong %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Độ hút nước</label>
                                                        <input type="text" class="form-control" name="hutNuoc"
                                                            value="<%- item.hutNuoc %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Màu sắc</label>
                                                        <input type="text" class="form-control" name="mauSac"
                                                            value="<%- item.mauSac %>" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Xuất xứ</label>
                                                        <input type="text" class="form-control" name="xuatXu"
                                                            value="<%- item.xuatXu %>" />
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button value="<%= item._id %>" type="submit" name="edit" class="btn btn-success w-25">Sửa</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-inline-block" id="smallmodalLabel">Thêm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="p-2" method="post" action="/admin/products/add">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="font-weight-bold">Tên sản phẩm</label>
                        <input type="text" class="form-control" name="ten"
                            value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Nhà cung cấp</label>
                        <input type="text" class="form-control" name="id_nhaCungCap"
                        value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Đơn vị</label>
                        <input type="text" class="form-control" name="donVi"
                        value="" />
                    </div>
                    
                    <div class="form-group">
                        <label class="font-weight-bold">Đơn giá</label>
                        <input type="text" class="form-control" name="donGia"
                        value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Kích thước</label>
                        <input type="text" class="form-control" name="kichThuoc"
                        value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Chủng loại</label>
                        <input type="text" class="form-control" name="chungLoai"
                        value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Cường độ chịu nén</label>
                        <input type="text" class="form-control" name="cuongDoChiuNen"
                        value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Trọng lượng</label>
                        <input type="text" class="form-control" name="trongLuong"
                        value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Mã sản phẩm</label>
                        <input type="text" class="form-control" name="maSanPham"
                        value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Tiêu chuẩn</label>
                        <input type="text" class="form-control" name="tieuChuan"
                        value=""/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Chất liệu</label>
                        <input type="text" class="form-control" name="chatLieu"
                        value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Độ rộng</label>
                        <input type="text" class="form-control" name="doRong"
                        value=""/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Độ hút nước</label>
                        <input type="text" class="form-control" name="hutNuoc"
                        value=""/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Màu sắc</label>
                        <input type="text" class="form-control" name="mauSac"
                        value=""/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Xuất xứ</label>
                        <input type="text" class="form-control" name="xuatXu"
                        value=""/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success w-25">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="assets/js/main.js"></script>


<script src="assets/js/lib/data-table/datatables.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/jszip.min.js"></script>
<script src="assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="assets/js/init/datatables-init.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#bootstrap-data-table-export').DataTable();
    });
</script>